body {
  font-size: 18px;
  max-width: 1100px;
  width: 1110px;
  padding-top: 93px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-style: normal;
}

.header,
.footer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  list-style: circle;
  padding-left: 50.52px;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  text-align: left;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 31px;
}

.menu__menu-item_active {
  text-decoration: none;
}

.no-bullet {
  list-style: none;
}

.menu__menu-item_non-active {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  width: fit-content;
}

.header__logo {
  padding-left: 12px;
  width: 145px;
}

address {
  margin: 0;
  margin-left: 161.48px; /* 191.48px в сумме с width должно давать 452px*/
  margin-right: 30px;
  font-style: normal;
  width: 260.52px;

  padding-left: 0px;
  padding-right: 49.48px;

  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0.01em;
  text-align: left;
}

.adress__link {
  vertical-align: top;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  width: fit-content;
}

.cover {
  display: flex;
  flex-wrap: wrap;

  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;

  color: white;
  text-transform: uppercase;

  width: 1100px;
  min-height: 757px;
  margin-top: 95px;
  margin-bottom: 178px;

  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  position: absolute;
  top: 0;
  left: 0;
}

.cover__title {
  display: flex;
  flex-wrap: wrap;

  padding-left: 50px;
  margin-top: 98px;
  font-style: bold;
  font-size: 100px;
  letter-spacing: 0.3em;
  line-height: 2.5em;
  width: 1100px;
  margin-bottom: 15px;

  z-index: 10;
}

.aligned-text-left {
  width: 1100px;
}

.aligned-text_center {
  width: 975px;
  text-align: center;
  word-spacing: 3em;
  line-height: 0.00001em;
}

.aligned-text_right {
  line-height: 2.4em;
  width: 1000px;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.more-letter-spacing {
  letter-spacing: 0.6em;
}

.less-letter-spacing {
  letter-spacing: 1px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 78px;
  margin-right: 50px;
  width: 100%;
  min-height: 150px;
  font-size: 22px;
  /*word-spacing: 20px;*/
  word-spacing: 0.85em;

  z-index: 10;
}

.bet-button {
  border: 1px solid currentColor;
  padding: 12px 31px;

  text-decoration: none;
  word-spacing: 0.01em;
}

.lots {
  margin-bottom: 181px;
}

.lots__title,
.about__title {
  font-style: bold;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 64px;
}

.lots__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  list-style: none;
  margin-left: 23px;
  margin-right: 25px;
}

.lots__card-item {
  min-height: 563px;
  flex-basis: 334px;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-end;

  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  background-position: center;
  padding: 50px 37px 50px 42px;
  color: white;
  font-size: 20px;
  font-style: bold;
  text-decoration: none;
}

.card__title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2em;
  text-transform: uppercase;
}

.card__no-underline {
  text-decoration: none;
}

.card__title-decoration {
  text-decoration: underline;
  text-underline-offset: 3px;
  /*display: inline;*/
  /*border-style: none none solid none;
  border-width: 1px;
  border-color: white;*/
}

.card__text {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  justify-self: flex-end;
}

.card__text-span {
  /*...*/
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.13em;
  text-align: left;
}

.card__img-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__img-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card__img-painting {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: inline-block;
  border-style: none none solid none;
  border-width: 1px;
  padding-top: 28px;
  margin-left: 64px;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 20px;
}

p,
article,
h1,
h2,
h3,
h4 {
  z-index: 10;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 1fr 100%;
  min-height: 563px;
  column-gap: 25px;
  margin-bottom: 150px;
  margin-left: 25px;
  color: black;
}

.about__logo {
  display: grid;
  place-self: center center;
  border-radius: 50%;
  border-color: black;
  width: 240px;
  height: 240px;
  background-color: black;
}

.about__logo-image {
  place-self: center center;
  width: 146px;
}

.about__title {
  margin: 0;
}

.about_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  word-spacing: 0.01em;
  text-align: left;
}

.about__text-intro {
  letter-spacing: 0.01em;
  margin-top: 7px;
  margin-bottom: 24px;
  width: 700px;
}

.about__text-mainpart {
  width: 691.75px;
}

.about__text-span1 {
  /*пафосное собрание ... антиквариата.*/
  text-align: left;
  margin-bottom: 24px;
}

.about__text-span2 {
  /*Наши*/
  letter-spacing: 0.02em;
}

.about__text-span3 {
  /*были попасть*/
  letter-spacing: -0.01em;
}

.about__text-span4 {
  /*дневник*/
  letter-spacing: 0.03em;
}

.about__text-span5 {
  /*они*/
  letter-spacing: 0.04em;
}

.about__text-span6 {
  /*неудачными.*/
  letter-spacing: 0.01em;
}

.about__align-logo {
  justify-self: center;
  align-self: center;
}

.about__align-title {
  justify-self: start;
  align-self: center;
}

.about__align-text {
  justify-self: start;
  align-self: start;
}

.footer {
  justify-content: space-between;
  margin-bottom: 88px;
  padding: 0 50px;
}

.no-margin {
  margin: 0px;
  padding-top: 26px;
}

.footer__menu-list {
  text-align: center;
  margin-right: 70px;
}

.footer__socials {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  gap: 50px;
  padding: 0;
  margin: 0 0 20px 0;
  width: 240px;
}
