body {
  font-size: 18px;
  max-width: 1100px;
  width: 1110px;
  padding-top: 93px;
  font-family: Raleway, sans-serif;
  font-style: normal;
}
.header,
.footer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.header__menu-list {
  display: flex;
  list-style: circle;
  flex-direction: row;
  gap: 31px;
  padding-left: 50.52px;
  

  line-height: 21.13px;
  letter-spacing: 0.01em;
  text-align: left;
}



.header__menu-item_active {
  text-decoration: none;
  /*list-style:none; не работает*/
}

.header__menu-list:nth-child(1) {
  list-style: none; /*отключаю для первого элемента отображение буллета*/
}

.header__menu-item_non-active {
  text-decoration: none;
  border-bottom: 1px solid black;
  width: fit-content;
}

.header__logo {
  padding-left: 12px;
  
  width: 145px;
  /*height: 95px;*/
}

address {
  margin: 0;
  margin-left: 161.48px; /* 191.48px в сумме с width должно давать 452px*/
  margin-right: 30px;
  font-style: normal;
  width:260.52px;
  
  padding-left: 0px;
  padding-right:49.48px;

  font-family: Raleway;
font-size: 18px;
font-weight: 400;
line-height: 24.3px;
letter-spacing: 0.01em;
text-align: left;

}
.header__adress {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow-wrap: break-word;
}
.header__adress_link {
  vertical-align: top;
  text-decoration: none;
  border-bottom: 1px solid black;
  width: fit-content;
}

.cover {
  display: flex;
  flex-wrap: wrap;

  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;

  color: white;
  text-transform: uppercase;

  width: 1100px;
  height: 757px;
  position: relative;
  margin-top: 95px;
  margin-bottom: 180px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  position: absolute;
  top: 0;
  left: 0;
}

.cover__title {
  display: flex;
  flex-wrap: wrap;

  
  padding-left: 50px;
  margin-top: 155px;
  font-style: bold;
  font-size: 100px;
  letter-spacing: 0.3em;
  line-height: 1.3em; /*1.35em*/
  width: 1100px;
  height: 499px; /*260p450px*//*499px*/

  margin-bottom: 12px;
}

.aligned-text-left {
 width: 1100px;
}

.aligned-text_center {
  width: 1100px;
  text-align: center;
  padding-right: 80px;
  padding-bottom: 0px;
  line-height: .00001em;
  /*float: left;*/
  
}

.aligned-text_right {
  padding-right: 50px;
  padding-bottom: 60px;
  width: 1100px;
  text-align: right;
  /*float: right;*/
}

.no-letter-spacing {
  letter-spacing: 0px;
}
.more-letter-spacing {
  letter-spacing: 0.6em;
}
.less-letter-spacing {
  letter-spacing: 1px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 78px;
  padding-right: 15px;
  /*padding-left: 78px;*/
  /*padding-right: 50px;*/
  width: 1fr;
  height: 1fr;
  font-size: 22px;
  /*word-spacing: 20px;*/
  word-spacing: 0.85em;
  line-height: 1.3em;
  padding-bottom: 100px;
  margin-right: 36px;
}

.bet-button {
  
  border: 1px solid white;
  padding: 12px 31px;
  
  text-decoration: none;
  word-spacing: 0.01em;
}
.lots {
  margin-bottom: 181px;/*181px*/
}
.lots__title,
.about__title {
  font-style: bold;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 27px;
  padding-left: 64px;
}

.lots__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  list-style: none;
  margin-left: 23px;
  margin-right: 25px;
  padding-bottom: 0px;
}


.lots__card-item {
  height: 563px;
  flex-basis: 334px;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-end;

  position: relative;
}

.card {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  background-size: cover;
  background-position: center;
  padding: 50px 37px 50px 42px;  

  color:white;
  font-size: 20px;
  font-style: bold;
  text-decoration: none;
}

.card__title {
  display: inline;

  border-style: none none solid none;
  border-width: 1px;
  border-color: white;

  font-size: 22px;
  font-weight: bold;
  line-height: 1.2em;
  text-transform: uppercase;

  
}

.card__text-span {
  /*...*/
  font-family: Raleway;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.13em;
text-align: left;

}
.card__img-1 {
  background-image: url(../images/card-lot-01.jpg);
}
.card__img-2 {
  background-image: url(../images/card-lot-02.jpg);
}
.card__img-3 {
  background-image: url(../images/card-lot-03.jpg);
}
.lots__look-more-link {
  display: inline-block;
  border-style: none none solid none;
  border-width: 1px;
  padding-top: 29px;
  margin-left: 64px;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 20px;
}
p,
article {
  z-index: 10;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 1fr 5fr;
  height: 563px;
  /*width: 1052px;*/
  column-gap: 25px;
  /*margin-left: 25px;*/
  margin-bottom: 150px;
  margin-left: 25px;
  color: blueviolet;
}

.about__logo {
  place-self: center center;
  border-radius: 50%;
  border-color: black;
  width: 240px;
  height: 240px;
  background-color: black;
}
.about__logo-image {
  width: 146px;
  /*height: 135px;*/
}

.about__title {
  text-align: left;
  padding: 0;
  margin: 0;
  padding-top: 5px;
}

.about_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  /*font-weight: 500;*/
  /*letter-spacing: 0.01em;*/
  word-spacing: .01em;
  text-align: left;
}
.about__text-p1 {
  letter-spacing: 0.01em;
  margin-top: 7px;
  margin-bottom: 24px;
  width: 700px;
}
.about__text-p2 {
  width: 691.75px;
}
.about__text-span1 {
  /*пафосное собрание ... антиквариата.*/
  text-align: left;
  margin-bottom: 24px;

  font-family: Raleway;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;

}

.about__text-span2 {
  /*Наши*/
  letter-spacing: 0.02em;
}
.about__text-span3 {
  /*были попасть*/
  letter-spacing: -0.01em;
}
.about__text-span4 {
  /*дневник*/
  letter-spacing: 0.03em;
}
.about__text-span5 {
  /*они*/
  letter-spacing: 0.04em;
}
.about__text-span6 {
  /*неудачными.*/
  letter-spacing: 0.01em;
}

.about__align-logo {
  justify-self: center;
  align-self: center;
}
.about__align-title {
  justify-self: start;
  align-self: center;
}
.about__align-text {
  justify-self: start;
  align-self: start;
  /*width: 500px;*/
}
.footer {
  
  justify-content: space-between;
  margin-bottom: 88px;
  padding: 0 50px;
}
.no-margin {
  margin: 0px;
 padding-top: 26px;
}


.footer__menu-list {
  list-style: none;  
  text-align: center;
  padding-right: 19px;
  padding-bottom: 5px;
}
.footer__socials {
  
  display: flex;
  flex-wrap: nowrap;
  gap: 48px;
  padding-bottom: 20px;
}
.footer__icon {
  width: 48px;
  height: 48px;
}
